<html>
<head>
    <title> Welcome {{nameT}} {{ageT}}  </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loggedIn.css') }}">
</head>



    <body>
    <div class="login-box">
    <img src="{{ url_for('static', filename='Polutex.jpeg') }}" class="avatar">
        <h1>Polutex</h1>
            <p id = "welcome"> Welcome {{nameT}}</p>
            <br>
            <p id = "welcome"> UserName : {{user_id}}</p>
            <br>
            <!-- <p id = "welcome"> user{{usernameT}}</p>
            br> -->
            <p id = "welcome"> password : {{passwordT}}</p>
            <br>
            <!-- <p id = "welcome"> name :{{nameT}}</p>
            br> -->
            <p id = "welcome"> age : {{ageT}}</p>
            <br>
            <p id = "welcome"> gander : {{ganderT}}</p>
            <br>
            <p id = "welcome"> nationality : {{nationalityT}}</p>
            <br>
            <p id = "welcome"> phone_NumberT : {{phone_NumberT}}</p>
            <br>
            <p id = "welcome"> emergency_Contact_Number : {{emergency_Contact_NumberT}}</p>
            <br>
            <p id = "welcome"> Health Condition : {{health_conditionT}}</p>

            <br>

            <div class = "signOut">
            <form id = "child" action="http://127.0.0.1:7000/home">
                <input type="submit" value="Sign Out" />
            </form>
            </div>




<!--


      <div class="main">
<form class="searchDetails" action="{{ url_for('searchBook') }}" method="post">
      <h2 >Location </h2>
      <select name="bookID" id="bookID" class="drop-down-box">
          <option>Choose an Option</option>
          {% for bookItem in allBooks %}
              <option> {{bookItem.isbn}}</option>
          {% endfor %}

      </select>

      <h2 > Select Date </h2>
      <select name="title" id="title" class="drop-down-box">
          <option>Choose an Option</option>
          {% for bookItem in allBooks %}
              <option> {{bookItem.title}}</option>
          {% endfor %}
      </select>

        <h2> Select Time </h2>
        <div class="select">

            <select name="Author" id="Author" class="drop-down-box">
                <option>Choose an Option</option>
                {% for bookItem in allBooks %}
                    <option> {{bookItem.author}}</option>
                {% endfor %}

            </select>

            <div id = "sb" class = "SearchBox">
              <br>
            <form id = "child" action="{{ url_for('searchBook') }}" method="post">
                <input id = "search-button" type="submit" value="Search" />
            </form>
            </div>

        </div>
      </form>

      <span id= searchRes> <ol id = "olid">
        <a class = "list-heading">Book Name</a>
      {% for bookItem2 in searchResultList %}
      <div class="row">
       <p class="liclass"> <li > <div> {{ bookItem2.title }}  by  {{bookItem2.author}} </div></li> </p>
      {% endfor %}
      </div>
      </ol>
    </span>
 -->






    </div>
        </div>

        </div>

    </body>
</html>
