<html>
<head>
    <title> Sign Up  </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signUp.css') }}">
</head>
    <body>
    <div class="login-box1">
    <img src="{{ url_for('static', filename='avatar.png') }}" class="avatar">
        <h1>Sign Up</h1>
            <form action="{{ url_for('newPolutexUser') }}" method="post">

            <p>User ID</p>
            <input type="text" name="username" placeholder="Enter User ID">

            <p>Name</p>
            <input type="text" name="Name" placeholder="Name">

            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">

            <p>Confim Password</p>
            <input type="password" name="password" placeholder="Enter Password">


            <br><br><br><br><br><br><br><br><br><br><br>
            <input type="submit" value="Back">
          <!-- </form> -->
        </div>

        <div class="login-box2">
        <img src="{{ url_for('static', filename='avatar.png') }}" class="avatar">
            <h1>User Details</h1>
                <!-- <form action="{{ url_for('newPolutexUser') }}" method="post"> -->

            <p>Age</p>
            <input type="text" name="Age" placeholder="Age">

            <p>Gender</p>
            <input type="text" name="Gender" placeholder="Gender">

            <p>Nationality</p>
            <input type="text" name="Nationality" placeholder="nationality">

            <p>Phone Number</p>
            <input type="text" name="Phone Number" placeholder="phone number">

            <p>Emergency Contact Number</p>
            <input type="text" name="Emergency Contact Number" placeholder="emergency contact number">

            <p>Email</p>
            <input type="text" name="Email" placeholder="email">

            <br><br>
            <input type="submit" value="Submit">
            <!-- <p>Health Condition</p>
            <input type="text" name="Name" placeholder="health condition"> -->

            <!-- <input type="submit" name="submit" value="Sign Up" > -->
            <!-- </form> -->
            </div>


            <div class="login-box3">
            <img src="{{ url_for('static', filename='avatar.png') }}" class="avatar">
                <h1>Health Condition</h1>
            <form action="/action_page.php">

              <input type="checkbox" id="sickness1" name="sickness1" value="Allergies to dust">
              <label for="sickness1"> Allergies to dust</label>

              <input type="checkbox" id="sickness2" name="sickness2" value="Asthma">
              <label for="sickness2"> Asthma</label>

              <input type="checkbox" id="sickness3" name="sickness3" value="Bronchitis">
              <label for="sickness3"> Bronchitis</label>

              <input type="checkbox" id="sickness4" name="sickness4" value="Lung cancer">
              <label for="sickness5"> Lung cancer</label>

              <input type="checkbox" id="sickness5" name="sickness5" value="Lung collapse">
              <label for="sickness6"> Lung collapse</label>

              <input type="checkbox" id="sickness6" name="sickness6" value="respiratory Inflammation">
              <label for="sickness4">respiratory Inflammation</label><br><br>

              <input type="checkbox" id="sickness7" name="sickness7" value="Pneumonia">
              <label for="sickness7">Pneumonia </label>

              <!-- <input type="checkbox" id="sickness8" name="sickness8" value="None">
              <label for="sickness8">None </label> -->


              <!-- <div>
  <label><input type="checkbox" /> Label text</label>
</div> -->
    </form>
            </form>
          </div>


        <!-- </div> -->
          <input href="http://127.0.0.1:4000/SignUp" type="submit" name="submit" value="Sign Up" >
    </body>
</html>
